body {
	background-attachment: fixed;
    font-family:"helvetica";
    font-size: 0.9em;
    background-image:url(../img/Test2_Minions.jpg);
    background-size: 95%;
}
.message {
	-moz-border-radius: 20px 40px;
	-webkit-border-radius: 20px 40px;
	border-radius: 20px 40px;
	padding: 20px;
	margin: auto;
	width: 500px;
	background-color: rgb(39, 40, 34);
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
}
.center {
	text-align: center;
	margin-top: 5%;
}
.champ {
	text-align: left;
	width: 150px;
}
.label {
	text-align: left;
	vertical-align: top;
	width: 160px;
	display: inline-block;
}




