body {
	background-attachment: fixed;
    font-family:"helvetica";
    font-size: 0.9em;
    background-image:url(../img/Test3_Membre.jpg);
    background-size: 100%;
}
#ban {

	border-radius: 150px 80px 150px 80px;
	height: 70px;
	width: 100%;
	z-index: 1;
}
#avatar{
        float: left;
        width: 25%;
        height: 50%;
        border-radius: 10px;
        margin-right: 15px;
        margin-bottom: 5px;
        box-shadow: 7px 7px 10px rgb(20, 20, 20);
}
a {
	color:rgb(230,230,230);
}
#panel {
	background-position: center;
	background-color: rgba(200, 200, 200, 0.5);
	text-align: justify;
	border-radius:20px 40px;
	padding:1%;
	margin-top: 1%;
	width: 75%;
	height: 82%;
	margin-left: auto;
	margin-right: auto;
}
.message {
	-moz-border-radius: 20px 40px;
	-webkit-border-radius: 20px 40px;
	border-radius: 20px 40px;
	padding: 20px;
	margin: auto;
	width: 500px;
	background-color: rgb(39, 40, 34);
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
}