
h1 {
	color: green;
}

body {

	background-image:url(LOLL.jpg);
}
#ban {
	border-radius: 150px 80px 150px 80px;
	height: 70px;
	width: 100%;
}

#sharing {
	position: fixed;
	z-index: -1;
	margin-top: -60px;
	margin-left: 10px;
}


#gauche {
	float: left;
	width: 22%;
	border-radius: 20px;
	overflow: auto;
	padding: 1px;
	height: 85%;
	margin-top: 0;
	margin-bottom: 0;

	position: fixed;
}
#Auteur {
	background-color: blue;
	border-radius:20px ;
	overflow: auto;
	height: 25%;
	padding: 1%;

	margin-top: 0;
	margin-bottom: 3%;


}
#categorie {
	background-color: green;
	border-radius:20px ;
	overflow: auto;
	padding: 1%;
	height: 71%;
	
	margin-top: 0;
	margin-bottom: 0;

}


#Article {
	display: inline-block;
	background-position: center;
	background-color: yellow;
	float: right;
	min-width: 75%;
	text-align: center;
	margin-right: 0;
	border-radius:20px;
	padding:1%;
	margin-top: 1%;

	position: relative;
}

iframe {
	height : 500px;
	width: 500px;
}