.topbarre {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 3;
	background-color: #227399;
	height: 40px;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.25);
	box-shadow: 0 2px 3px rgba(0,0,0,0.25);
}

.container {
	/*position: relative;
	margin: 0 auto;*/
	vertical-align: middle;
	display: inline;
	padding-left: 25%;
	padding-top: 25%;
}

.menu {
	display: inline-block;
	width: 100px;
	font-family: "Helvetica Neue",Arial,sans-serif;
}


h1 {
	color: white;
	background-color: black;
	text-align: center;
}

body {
/*	background-color: #C0C0C0;
*/	background-attachment: fixed;
	background-image:url(background1.jpg); 
}

#ban {
	border-radius: 150px 80px 150px 80px;
	height: 70px;
	width: 100%;
	margin-top: 40px;
	z-index: 10;
}

.artdiv{
	background-color: pink;
	float: right;
}


#gauche {
	float: left;
	width: 22%;
	/*border-radius: 20px;*/
	overflow: auto;
	padding: 1px;
	height: 86%;
	margin-top: -67px;
	margin-bottom: 0;
	z-index: -1; /*-1, mais sinon je peux pas cliquer..;
	TODO trouver une solution*/
	position: fixed;
}

#sharing {
	width: 90%;
	border-radius: 186px 46px;
	z-index: -1;
}
#Auteur {
	background-color: #F6F6F6;
	border-radius:20px ;
	overflow: auto;
	height: 28%;
	padding: 1%;
	margin-top: 15px; /*35*/
	margin-bottom: 2%;
	border-style: solid;
	border-width: 1px;
	padding: 5px;

}

#categorie {
	background-color: #F6F6F6;
	border-radius:20px ;
	overflow: auto;
	padding: 1%;
	height: 53%;
	margin-top: 0;
	margin-bottom: 0;
	border-style: solid;
	border-width: 1px;
	padding: 5px;

}

/*#droite {
	background-color: red;
	float: right;
	display: inline-block;
	min-width: 77%;
	z-index: -1;

}*/

.Article {
	background-position: center;
	display: inline-block;
	background-color: #F6F6F6;
	border-style: solid;
	border-width: 1px;
	text-align: justify;
	margin-right: 0;
	border-radius:20px 40px;
	padding: 0% 1% 1% 1%;
	margin-top: 1%;
	width: 75%;
	float: right;
	position: relative;
}

.menudroitetitre {

}


#footer {
	margin-top: 485px;
	position: fixed;
	background-color: red;
	width: 22%;
	height: 11%;
	border-radius: 20px;
}

#date{
	text-align: right;
}


#pagination{
	background-color: #FC4349;
	color: black;
	text-align: center;	
	height: 20px;
	position: absolute;
	bottom: 2px;
	left: 0;
	right: 0;
}

html, body{
	height: 100%;
}

#page{
	min-height: 100%;
	position: relative;
}

#principal{
	padding-bottom: 20px;
}


#ajouterArticle {
	width: 550px;
	height: 400px;
	max-width: 550px;
	max-height: 400px;
}


#ajouterTitre {
	max-width: 550px;
	max-height: 30px;
	width: 550px;
	height: 30px;
}

textarea {
	text-align: left;
}


form>p {
	display: inline-block;
	vertical-align: middle;
}