h1 {
        color: green;
        text-align: center;
}

body {

        background-image:url(LOLL.jpg);
        background-attachment: fixed;
}
#ban {
        border-radius: 150px 80px 150px 80px;
        height: 70px;
        width: 100%;
        z-index: 1;
}


#gauche {
        float: left;
        width: 22%;
        border-radius: 20px;
        overflow: auto;
        padding: 1px;
        height: 99%;
        margin-top: -80px;
        margin-bottom: 0;
        z-index: -1;

        position: fixed;
}

#sharing {
        width: 90%;
        border-radius: 186px 46px;
}

#avatar{
        float: left;
        width: 25%;
        height: 50%;
        border-radius: 10px;
        margin-right: 6px;
}
#Auteur {
        background-color: blue;
        border-radius:20px ;
        overflow: auto;
        height: 23%;
        padding: 3%;
        margin-top: 15px;
        margin-bottom: 2%;


}
#categorie {
        background-color: green;
        border-radius:20px ;
        overflow: auto;
        padding: 3%;
        height: 43%;
        margin-top: 0;
        margin-bottom: 2%%;

}

#footer {
        overflow: auto;
        background-color: red;
        height: 10%;
        padding: 3%;
        border-radius: 20px;
}

/*
#pagination{
        background-color: DeepPink;
        color: black;
        text-align: center;     
        height: 20px;
        position: absolute;
        bottom: 2px;
        left: 0;
        right: 0;
}*/


/*
#droite {
        background-color: violet;
        float: right;
        display: inline-block;
        min-width: 77%;
        z-index: -1;

}*/

.Article {
	background-position: center;
	display: inline-block;
	background-color: yellow;
	text-align: justify;
	margin-right: 0;
	border-radius:20px 40px;
	padding:1%;
	margin-top: 1%;
	width: 75%;
	float: right;
	position: relative;
}



#date {
        text-align: right;
}

