h2 {
	color: rgb(120,120,120);
    text-align: center;
    background-image:url(Banniere_Article.jpg);
    margin-top: -8px; 
    border-radius: 80px 150px;
    height: 25px;
    float: center;
    text-shadow: 0px 1px 5px rgb(214,255,255);

}

body {
	background-color: rgb(220, 220, 220);
    background-attachment: fixed;
    font-family:"helvetica";
    font-size: 0.9em;
}

#ban {
	border-radius: 150px 80px 150px 80px;
	height: 70px;
	width: 100%;
	z-index: 1;
	position: relative;
}

.artdiv{
	background-color: pink;
	float: right;
}




#gauche {
	float: left;
	width: 17%;
	border-radius: 20px;
	overflow: auto;
	padding: 1px;
	height: 99%;
	margin-top: -4.5%;
	margin-bottom: 0;
	position: fixed;
}

#droidroite {
	float: right;
	width: 17%;
	border-radius: 20px;
	overflow: auto;
	padding: 1px;
	height: 99%;
}

#droite {
	margin-left: 19%;
	margin-right: 19%;
	width: auto;
}






#Global #droite {
	float: right;
	width: 77%;
	margin-left: 22%;
}

#gauche a{
        color:rgb(220,220,220);
}

.Article a{
        color:rgb(150, 150, 150);
}

#droidroite a{
	color:rgb(220,220,220);
}

#sharing {
	width: 90%;
	border-radius: 186px 46px;
	margin-left: 30px;
	z-index: -1;
}

#avatar{
        float: left;
        width: 25%;
        height: 50%;
        border-radius: 10px;
        margin-right: 15px;
        margin-bottom: 5px;
        box-shadow: 7px 7px 10px rgb(20, 20, 20);
}

#Auteur {
	background-color: rgb(100, 100, 100);
        border-radius:20px ;
        overflow: auto;
        height: 23%;
        padding: 3%;
        margin-top: 15px;
        margin-bottom: 2%;

}

#lastarticles {
	background-color: rgb(125, 125, 125);
	border-radius:20px ;
	overflow: auto;
	padding: 3%;
	width: auto; 
	padding-top: 2px;
	margin-top: 15px;
	padding-left: 5px;
	position: fixed;
}



#categorie {
	background-color: rgb(125, 125, 125);
	border-radius:20px ;
	overflow: auto;
	padding: 3%;
	height: 33%;
	margin-top: 0;
	margin-bottom: 2%;
}

#footer {
    overflow: auto;
    background-color: rgb(150, 150, 150);
    height: 17%;
    padding: 3%;
    border-radius: 20px;
}


.Article {
	background-position: center;
    background-color: rgb(255, 255, 255);
	text-align: justify;
	margin-right: 0%;
	border-radius:20px 40px;
	padding:1%;
	margin-top: 1%;
	padding-top: 2%;
	padding-right: 2%;
}

#info{
	display: inline-block;
	border-radius: 50px 20px;
	background-color: rgb(120,120,120);
	padding-left: 3%;
	padding-right: 3%;
	margin-top: 1%;
	width: 93%;
	height: 25px;
	padding-top: 5px;
}

#date{
	float:right;
}

#cat {
	float: left;
}
#ajouterArticle, #editerArticle {
	width: 550px;
	height: 400px;
	max-width: 550px;
	max-height: 400px;
}


#ajouterTitre, #editerTitre {
	max-width: 550px;
	max-height: 30px;
	width: 550px;
	height: 30px;
}

#ajouterCategorie {
	max-width: 550px;
	width: 550px;
	max-height: 200px;
	height: 100px;
}

textarea {
	text-align: left;
}


form>p {
	display: inline-block;
	vertical-align: middle;
}

.message {
	-moz-border-radius: 20px 40px;
	-webkit-border-radius: 20px 40px;
	border-radius: 20px 40px;
	padding: 20px;
	margin: auto;
	width: 500px;
	background: url('black_40p.png');
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
}



.formulaire {
	text-align: center;
}

.center {
	text-align: center;
}


.champ {
	text-align: left;
	width: 150px;
}

.label {
	text-align: left;
	vertical-align: top;
	width: 160px;
	display: inline-block;
}

.AjoutArticle, .EditArticle {
	padding-top: 2%;
	background-position: center;
    background-color: rgb(255, 255, 255);
	text-align: justify;
	border-radius:20px 40px;
/*	 padding:1%;

*/	margin-top: 1%;
	padding-right: 2%;
	padding-left: 2%; 
	float: right;
	position: relative;
}




#edit {
	height: 30px;
	width: 30px;
	margin-bottom: -0.5em;
}


#copyright {
	font-size: 0.6em;
}



