.message {
	-moz-border-radius: 20px 40px;
	-webkit-border-radius: 20px 40px;
	border-radius: 20px 40px;
	padding: 20px;
	margin: auto;
	width: 500px;
	background: url('black_40p.png');
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
}



.formulaire {
	text-align: center;
}

.center {
	text-align: center;
}


.champ {
	text-align: center;
	width: 150px;
}

.label {
	text-align: left;
	vertical-align: top;
	width: 160px;
	display: inline-block;
}




